.cards {
  &__container {
    @include container;
    @include container-padding;
    padding-top: em(20, $fz);
    padding-bottom: em(40, $fz);
  }

  &__title {
    text-align: center;
    margin-bottom: em(16, $fz);
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
  }
}

.card-example-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  &__title {
    $fz: 30;
    font-size: em($fz, $fz_base);
    color: var(--text-color-1);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.6px;
    margin-bottom: em(30, $fz);
    margin-top: 0;
  }
}

.card-example {
  padding: em(20 20 30 20, $fz);
  border: 3px solid var(--accent-color-1);
  display: flex;
  flex-direction: column;
  align-items: center;

  &__wrapper {
    min-width: em(560, $fz);
    padding: em(20 20 25 20, $fz);
    background-color: var(--accent-color-1);
    display: flex;
    flex-direction: column;
    margin-bottom: em(20, $fz);
  }

  &__title,
  &__input {
    $fz: 30;
    font-size: em($fz, $fz_base);
    line-height: 166%;
    font-weight: 400;
    letter-spacing: 0.6px;
  }

  &__title {
    margin-top: 0;
    margin-bottom: em(20, $fz);
    color: var(--text-color-1);
  }

  &__input {
    color: var(--text-color-4);
    display: block;
    padding: em(8 20, $fz);
    background-color: var(--primary-color-2);
    border-radius: em(10, $fz);

    &:not(:last-child) {
      margin-bottom: em(11, $fz);
    }
  }

  &__btn {
    $fz: 20;
    font-size: em($fz, $fz_base);
    padding: em(10 40, $fz);
    display: inline-block;
    color: var(--text-color-3);
    text-align: center;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
    border-radius: 2px;
    border: 1px solid var(--secondary-color-1);
    cursor: pointer;
    transition: background-color 0.3s ease;

    @media (hover: hover) {
      &:hover {
        background-color: var(--accent-color-1);
      }
    }
  }
}

.card-registration {
  &__title,
  &__text {
    color: var(--text-color-1);
    text-align: right;
    font-weight: 400;
    font-style: normal;
  }

  &__title {
    $fz: 30;
    font-size: em($fz, $fz_base);
    font-family: Forum;
    line-height: normal;
    letter-spacing: 0.6px;
  }

  &__text {
    $fz: 20;
    font-size: em($fz, $fz_base);
    line-height: 200%;
    letter-spacing: 0.4px;
    max-width: em(456, $fz);
  }

  &__btn {
    border-radius: 2px;
    border: 1px solid var(--secondary-color-1);
    padding: em(10, $fz);
    cursor: pointer;
    transition: background-color 0.3s ease;

    @media (hover: hover) {
      &:hover {
        background-color: var(--accent-color-1);
      }
    }
  }
}

.card-registration-list {
  display: flex;
  justify-content: flex-end;
  @include list-0;

  &__item {
    &:not(:last-child) {
      margin-right: em(20, $fz);
    }
  }
}
