.main-page {
  margin: 0;
  box-sizing: border-box;
  font-family: Inter, sans-serif;

  &--overflow-hidden {
    overflow: hidden;
  }
}

html {
  scroll-behavior: smooth;
}

:root {
  --number-of-slides: 3;
}
