.footer {
  background: #3d4050;
  &__container {
    padding-top: 31px;
    padding-bottom: 31px;
    display: flex;
    justify-content: space-between;
  }

  &__copyright {
    font-size: 13px;
    line-height: 16px;
    color: var(--inverted);
    margin-right: 10px;
  }

  &__icon-box {
    width: 20px;
    height: 20px;
    margin-right: 5px;
  }

  &__payments-list {
    display: flex;
    justify-content: space-between;
    max-width: 474px;
    flex: 1 0 auto;
    padding: 0 40.5px;
    border-right: 1px solid #c3c3c3;
    border-left: 1px solid #c3c3c3;
    margin-right: 10px;
  }

  &__item {
    display: flex;
    align-items: center;
      &:not(:last-child) {
          margin-right: 10px;
      }
  }

  &__text {
    font-size: 13px;
    line-height: 16px;
    color: var(--second-text);
    display: flex;
    align-items: center;

   
  }

  &__contacts-list {
    display: flex;
    max-width: 306px;
    flex: 1 0 auto;
    justify-content: space-between;
  }

  &__contacts-item {
    &:not(:last-child) {
        margin-right: 10px;
    }
  }

  &__contacts-link {
      display: flex;
      align-items: center;
    font-size: 13px;
    line-height: 16px;
    color: var(--inverted);
    transition: color 0.3s ease;
    &:hover {
        color: var(--accent);
    }
  
  }
}
