:root {
  --primary-color-1: #000000;
  --primary-color-2: #FFFFFF;
  --secondary-color-1: #0C0C0E;
  --secondary-color-2: #8E8E8E;
  --accent-color-1: #BB945F;

  --text-color-1: var(--primary-color-1);
  --text-color-2: var(--primary-color-2);
  --text-color-3: var(--secondary-color-1);
  --text-color-4: var(--secondary-color-2);
}