/* forum-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Forum";
  font-style: normal;
  font-weight: 400;
  src: url("../../fonts/forum-v16-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* inter-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../../fonts/inter-v12-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* inter-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("../../fonts/inter-v12-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
:root {
  --primary-color-1: #000000;
  --primary-color-2: #FFFFFF;
  --secondary-color-1: #0C0C0E;
  --secondary-color-2: #8E8E8E;
  --accent-color-1: #BB945F;
  --text-color-1: var(--primary-color-1);
  --text-color-2: var(--primary-color-2);
  --text-color-3: var(--secondary-color-1);
  --text-color-4: var(--secondary-color-2);
}

.main-page {
  margin: 0;
  box-sizing: border-box;
  font-family: Inter, sans-serif;
}
.main-page--overflow-hidden {
  overflow: hidden;
}

html {
  scroll-behavior: smooth;
}

:root {
  --number-of-slides: 3;
}

.header {
  background-color: var(--primary-color-1);
  padding: 1.25em;
}
.header__logo {
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
}
.header__navigation {
  margin-right: 2.5em;
}
.header__container {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  max-width: 90em;
}

.burger-menu-btn {
  background-color: transparent;
  border: none;
  display: flex;
  flex-direction: column;
  gap: 0.625em;
  padding-left: 0;
  padding-right: 0;
}
.burger-menu-btn::before, .burger-menu-btn::after {
  content: "";
  transition: transform 0.3s ease;
}
.burger-menu-btn::before, .burger-menu-btn::after, .burger-menu-btn__icon {
  width: 3.4375em;
  height: 2px;
  background-color: var(--primary-color-2);
  display: inline-block;
}
.burger-menu-btn__icon {
  transition: opacity 0.3s ease;
}
.burger-menu-btn--is-active::before {
  transform: translateY(10px) rotate(45deg);
}
.burger-menu-btn--is-active .burger-menu-btn__icon {
  opacity: 0;
}
.burger-menu-btn--is-active::after {
  transform: translateY(-10px) rotate(-45deg);
}

.logo {
  font-size: 1.875em;
  color: var(--text-color-2);
  font-family: Forum, sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 166.66%;
  letter-spacing: 0.6px;
  text-decoration: none;
}
.navigation {
  display: flex;
  align-items: center;
}
.navigation__btn {
  display: none;
}

.nav-list {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
  gap: 1.875em;
}

.nav-link {
  font-size: 1.25em;
  color: var(--text-color-2);
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 250%;
  text-decoration: none;
  transition: color 0.3s ease;
}
@media (hover: hover) {
  .nav-link:hover {
    color: var(--accent-color-1);
  }
}

.profile-btn {
  font-size: 16px;
  width: 1.75em;
  height: 1.75em;
  background-color: transparent;
  padding: 0;
  border: none;
  cursor: pointer;
  transition: opacity 0.3s ease;
  border-radius: 50%;
  background-color: #fff;
  position: relative;
  z-index: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (hover: hover) {
  .profile-btn:hover {
    opacity: 0.7;
  }
}
.profile-btn__icon {
  width: 94%;
  height: 94%;
  display: inline-block;
  position: relative;
  z-index: 1;
  margin-bottom: -5px;
}
.profile-btn__text {
  font-weight: 700;
  text-transform: uppercase;
}

.hero {
  background-image: url("../../img/jpg/welcome.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 13.75em;
  padding-bottom: 10em;
}
.hero__container {
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  max-width: 90em;
}
.hero__block {
  max-width: 37.5em;
}

.hero-title-block {
  background-color: var(--secondary-color-1);
  padding: 2.1875em 2.5em;
}
.hero-title-block__block {
  display: block;
}
.hero-title-block__title {
  font-size: 2.5em;
  color: var(--text-color-2);
  text-align: center;
  font-family: Forum, sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
}

.section-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 2.5em;
  line-height: 100%;
  font-weight: 400;
  color: var(--text-color-3);
  font-family: Forum, sans-serif;
  font-style: normal;
  letter-spacing: 2px;
  text-transform: capitalize;
  padding-bottom: 0.5em;
  position: relative;
}
.section-title::before {
  content: "";
  position: absolute;
  bottom: 0;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1.25em;
  height: 1px;
  background-color: var(--secondary-color-1);
}

.about__container {
  padding-left: 1.25em;
  padding-right: 1.25em;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  max-width: 90em;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1.25em;
  padding-bottom: 2.5em;
}
.about__title {
  margin-bottom: 1em;
}
.about__subtitle {
  font-size: 1.25em;
  color: var(--text-color-1);
  text-align: center;
  font-weight: 400;
  line-height: 200%;
}
.about__block {
  width: 100%;
  max-width: 100%;
}

.about-content-list {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
  justify-content: space-between;
}
.about-content-list__item {
  padding-left: 10px;
  padding-right: 10px;
  flex: 1 0 calc(100% / var(--number-of-slides) - 20px);
}
.about-content-list__img {
  width: 100%;
}

.about-pagination-list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
  display: flex;
}
.about-pagination-list__item:nth-child(4), .about-pagination-list__item:nth-child(5) {
  display: none;
}

.about-content-block {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about-content-block__wrapper {
  overflow: hidden;
  width: 100%;
}
.about-content-block__list {
  margin-bottom: 2.5em;
  width: 100%;
  transition: transform 0.3s ease;
}

.about-pagination-bullet {
  background-color: transparent;
  border: none;
  padding: 0.625em;
  font-size: 16px;
  line-height: 0;
  cursor: pointer;
}
.about-pagination-bullet::after {
  content: "";
  width: 1em;
  height: 1em;
  display: inline-block;
  background-color: var(--secondary-color-1);
  border-radius: 50%;
  transition: background-color 0.3s ease;
}
.about-pagination-bullet--is-active::after {
  background-color: var(--accent-color-1);
}
@media (hover: hover) {
  .about-pagination-bullet:hover::after {
    background-color: var(--accent-color-1);
  }
}

.about-content-list-arrows {
  display: none;
}

.favorites__container {
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  max-width: 90em;
  padding-left: 1.25em;
  padding-right: 1.25em;
  padding-top: 1.25em;
  padding-bottom: 2.5em;
}
.favorites__title {
  text-align: center;
  margin-bottom: 1em;
}
.favorites__form {
  margin-bottom: 2.5em;
}

.favorites-form__title {
  font-size: 1.25em;
  color: var(--text-color-1);
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 2em;
}

.favorites-form-list {
  display: flex;
  gap: 5.625em;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

.favorites-form-input {
  cursor: pointer;
  display: flex;
  position: relative;
}
.favorites-form-input::after {
  content: "";
  position: absolute;
  width: 120%;
  height: 200%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.favorites-form-input__text {
  display: inline-block;
  margin-left: 1.25em;
}
.favorites-form-input__custom {
  width: 1.0625em;
  height: 1.0625em;
  border-radius: 50%;
  display: inline-block;
  border: 1px solid var(--secondary-color-1);
  position: relative;
}
.favorites-form-input__custom::before {
  content: "";
  width: 0.5625em;
  height: 0.5625em;
  border-radius: 50%;
  background-color: var(--secondary-color-1);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}
.favorites-form-input__input {
  display: none;
  position: relative;
}
.favorites-form-input__input:checked + .favorites-form-input__custom::before {
  opacity: 1;
}
.favorites-form-input__input:checked ~ .favorites-form-input__text {
  font-weight: 700;
}

.favorites-cards-list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2.5em;
  opacity: 0;
  display: none;
  visibility: visible;
  transition: visibility 0.6s ease, opacity 0.6s ease;
}
.favorites-cards-list__item {
  max-width: 36.875em;
}
.favorites-cards-list__card {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.favorites-cards-list--is-active {
  display: flex;
}
.favorites-cards-list--is-visible {
  opacity: 1;
  visibility: visible;
}

.favorite-card__wrapper {
  border: 1px solid var(--primary-color-1);
  padding: 0.9375em 10.9375em 0.9375em 1.25em;
  margin-right: 2.5em;
  position: relative;
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
}
.favorite-card__img {
  position: absolute;
  bottom: -1px;
  right: -2.5625em;
}
.favorite-card__title {
  color: var(--text-color-1);
  font-size: 1.25em;
  font-family: Forum, sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 200%;
  letter-spacing: 2px;
  text-transform: capitalize;
  margin-bottom: 0;
  margin-top: 0;
  position: relative;
}
.favorite-card__title::before {
  content: "";
  width: 2.5em;
  height: 1px;
  display: inline-block;
  background-color: var(--accent-color-1);
  position: absolute;
  bottom: 0;
  left: 0;
}
.favorite-card__content {
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
}
.favorite-card__book, .favorite-card__auth {
  font-size: 0.9375em;
  color: var(--text-color-1);
  font-style: normal;
  font-weight: 700;
  line-height: 200%;
  letter-spacing: 2px;
}
.favorite-card__book {
  text-transform: uppercase;
}
.favorite-card__auth {
  text-transform: capitalize;
}
.favorite-card__description {
  font-size: 0.9375em;
  color: var(--text-color-1);
  font-style: normal;
  font-weight: 400;
  line-height: 266%;
  letter-spacing: 2px;
  text-transform: capitalize;
  flex: 1 0 auto;
}
.favorite-card__btn {
  font-size: 0.625em;
  color: var(--text-color-3);
  text-align: center;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
  padding: 0.9em 2.7em;
  background-color: transparent;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: fit-content;
}
@media (hover: hover) {
  .favorite-card__btn:hover {
    background-color: var(--accent-color-1);
  }
}
.favorite-card__btn--is-disabled {
  color: var(--accent-color-1);
  border: 2px solid var(--accent-color-1);
  cursor: initial;
}
@media (hover: hover) {
  .favorite-card__btn--is-disabled:hover {
    background-color: transparent;
  }
}

.shop__container {
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  max-width: 90em;
  padding-left: 1.25em;
  padding-right: 1.25em;
  padding-top: 1.25em;
  padding-bottom: 2.5em;
}
.shop__title {
  text-align: center;
}
.shop__text {
  font-size: 1.25em;
  color: var(--text-color-1);
  text-align: center;
  font-style: normal;
  font-weight: 400;
  line-height: 200%;
  letter-spacing: 2px;
}
.shop__wrapper {
  display: flex;
  justify-content: space-between;
}

.menu-block__title {
  font-size: 2.5em;
  color: var(--accent-color-1);
  font-family: Forum;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 100% */
  letter-spacing: 2px;
  text-transform: capitalize;
  margin-top: 0;
  margin-bottom: 1em;
}
.menu-block--mirrored .menu-block__title {
  text-align: right;
}
.menu-block--mirrored .menu-block-card__text:first-child {
  display: flex;
  justify-content: end;
}
.menu-block--mirrored .menu-block-card__text:first-child::after {
  margin-right: 3.75em;
  margin-left: 3.75em;
}

.menu-block-list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}
.menu-block-list__item:not(:last-child) {
  margin-bottom: 2.5em;
}
.menu-block-list__card {
  min-width: 27.375em;
}

.menu-block-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu-block-card__text {
  font-size: 1.25em;
  color: var(--text-color-1);
  font-style: normal;
  font-weight: 400;
  line-height: 200%;
  letter-spacing: 2px;
  text-transform: capitalize;
  justify-content: space-between;
  display: flex;
  align-items: center;
}
.menu-block-card__text:first-child {
  width: 100%;
}
.menu-block-card__text:first-child::after {
  content: "";
  display: inline-block;
  width: 5em;
  height: 1px;
  background-color: var(--accent-color-1);
  margin-right: 3em;
  margin-left: auto;
}

.contacts__title {
  text-align: center;
  margin-bottom: 1em;
}
.contacts__wrapper {
  display: flex;
  justify-content: space-between;
}
.contacts__container {
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  max-width: 90em;
  padding-left: 1.25em;
  padding-right: 1.25em;
  padding-top: 1.25em;
  padding-bottom: 2.5em;
}

.contacts-text-block__block {
  margin-bottom: 2.5em;
}

.contacts-block__title {
  font-size: 1.25em;
  color: var(--text-color-1);
  font-style: normal;
  font-weight: 700;
  line-height: 200%;
  letter-spacing: 2px;
  text-transform: capitalize;
  margin-top: 0;
  margin-bottom: 2em;
}

.contacts-list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}
.contacts-list__item:not(:last-child) {
  margin-bottom: 1.25em;
}
.contacts-list__link {
  text-decoration: none;
  transition: opacity 0.3s ease;
}
@media (hover: hover) {
  .contacts-list__link:hover {
    opacity: 0.8;
  }
}
.contacts-list__link, .contacts-list__text {
  font-size: 1.25em;
  color: var(--text-color-1);
  font-style: normal;
  font-weight: 400;
  line-height: 200%;
  letter-spacing: 2px;
  text-transform: capitalize;
}
.contacts-list__text--bold {
  font-weight: 700;
}

.cards__container {
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  max-width: 90em;
  padding-left: 1.25em;
  padding-right: 1.25em;
  padding-top: 1.25em;
  padding-bottom: 2.5em;
}
.cards__title {
  text-align: center;
  margin-bottom: 1em;
}
.cards__wrapper {
  display: flex;
  justify-content: space-between;
}

.card-example-block {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card-example-block__title {
  font-size: 1.875em;
  color: var(--text-color-1);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.6px;
  margin-bottom: 1em;
  margin-top: 0;
}

.card-example {
  padding: 1.25em 1.25em 1.875em 1.25em;
  border: 3px solid var(--accent-color-1);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card-example__wrapper {
  min-width: 35em;
  padding: 1.25em 1.25em 1.5625em 1.25em;
  background-color: var(--accent-color-1);
  display: flex;
  flex-direction: column;
  margin-bottom: 1.25em;
}
.card-example__title, .card-example__input {
  font-size: 1.875em;
  line-height: 166%;
  font-weight: 400;
  letter-spacing: 0.6px;
}
.card-example__title {
  margin-top: 0;
  margin-bottom: 1.25em;
  color: var(--text-color-1);
}
.card-example__input {
  color: var(--text-color-4);
  display: block;
  padding: 0.5em 1.25em;
  background-color: var(--primary-color-2);
  border-radius: 0.625em;
}
.card-example__input:not(:last-child) {
  margin-bottom: 0.6875em;
}
.card-example__btn {
  font-size: 1.25em;
  padding: 0.5em 2em;
  display: inline-block;
  color: var(--text-color-3);
  text-align: center;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
  border-radius: 2px;
  border: 1px solid var(--secondary-color-1);
  cursor: pointer;
  transition: background-color 0.3s ease;
}
@media (hover: hover) {
  .card-example__btn:hover {
    background-color: var(--accent-color-1);
  }
}

.card-registration__title, .card-registration__text {
  color: var(--text-color-1);
  text-align: right;
  font-weight: 400;
  font-style: normal;
}
.card-registration__title {
  font-size: 1.875em;
  font-family: Forum;
  line-height: normal;
  letter-spacing: 0.6px;
}
.card-registration__text {
  font-size: 1.25em;
  line-height: 200%;
  letter-spacing: 0.4px;
  max-width: 22.8em;
}
.card-registration__btn {
  border-radius: 2px;
  border: 1px solid var(--secondary-color-1);
  padding: 0.625em;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
@media (hover: hover) {
  .card-registration__btn:hover {
    background-color: var(--accent-color-1);
  }
}

.card-registration-list {
  display: flex;
  justify-content: flex-end;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}
.card-registration-list__item:not(:last-child) {
  margin-right: 1.25em;
}

.footer {
  background-color: var(--secondary-color-1);
}
.footer__container {
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  max-width: 90em;
  padding-left: 1.25em;
  padding-right: 1.25em;
}
.footer__head {
  border-bottom: 1px solid var(--primary-color-2);
}

.footer-head {
  padding-top: 1.25em;
  padding-bottom: 1.875em;
  display: flex;
  justify-content: space-between;
}
.footer-head__place {
  margin-top: 0;
  margin-bottom: 1.125em;
}

.footer-place {
  display: block;
  text-decoration: none;
}
.footer-place__text {
  color: var(--text-color-2);
  font-size: 0.9375em;
  font-style: normal;
  font-weight: 400;
  line-height: 133%;
  display: block;
  transition: color 0.3s ease;
}
@media (hover: hover) {
  .footer-place:hover .footer-place__text {
    color: var(--accent-color-1);
  }
}

.footer-social-list {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}
.footer-social-list__item:not(:last-child) {
  margin-right: 0.9375em;
}

.footer-social-link {
  transition: opacity 0.3s ease;
}
@media (hover: hover) {
  .footer-social-link:hover {
    opacity: 0.7;
  }
}
.footer-social-link__icon {
  width: 1.5em;
  height: 1.5em;
}

.footer-date-list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}
.footer-date-list__date {
  margin-top: 0;
  margin-bottom: 0;
}
.footer-date-list__item {
  margin-bottom: 0.625em;
}

.footer-date__text {
  font-size: 0.9375em;
  color: var(--text-color-2);
  text-align: right;
  font-style: normal;
  font-weight: 400;
  line-height: 133%;
  display: block;
}

.footer-body {
  padding-top: 2.5em;
  padding-bottom: 2.75em;
  display: flex;
  justify-content: space-between;
}
.footer-body__link {
  color: var(--text-color-2);
  font-size: 1.25em;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 2px;
  text-decoration: none;
  transition: color 0.3s ease;
}
@media (hover: hover) {
  .footer-body__link:hover {
    color: var(--accent-color-1);
  }
}

.footer-body-date {
  color: var(--text-color-2);
  font-size: 1.25em;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 2px;
}

.main-page .card-registration--is-register,
.main-page .profile-menu-list--is-register {
  display: none;
}
.main-page .card-example__stats {
  display: none;
}
.main-page--is-auth .card-example__btn {
  display: none;
}
.main-page--is-auth .card-example__input {
  color: #bb945f;
}
.main-page--is-auth .card-example__stats {
  display: flex;
}
.main-page--is-auth .profile-btn__icon {
  display: none;
}
.main-page--is-auth .card-registration--is-auth,
.main-page--is-auth .profile-menu-list--is-auth {
  display: none;
}
.main-page--is-auth .card-registration--is-register,
.main-page--is-auth .profile-menu-list--is-register {
  display: flex;
}

.header-profile {
  position: relative;
}
.header-profile__menu {
  position: absolute;
  right: 0;
  top: 100%;
}

.profile-menu {
  background-color: var(--primary-color-2);
  box-sizing: border-box;
  min-width: 80px;
  padding-top: 5px;
  padding-bottom: 5px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}
.profile-menu--is-active {
  opacity: 1;
  visibility: visible;
}
.profile-menu__title {
  display: block;
  color: #000;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px; /* 133.333% */
  text-align: center;
  padding-bottom: 5px;
  position: relative;
  padding-left: 5px;
  padding-right: 5px;
}
.profile-menu__title::after {
  position: absolute;
  content: "";
  bottom: 0;
  width: 50%;
  left: 25%;
  height: 1px;
  background-color: #bb945f;
}

.profile-menu-list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;
  gap: 10px;
}
.profile-menu-list__btn {
  background-color: transparent;
  display: block;
  text-align: center;
  color: #000;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 133.333% */
  border: none;
  padding: 0;
  transition: color 0.3s ease;
  cursor: pointer;
}
@media (hover: hover) {
  .profile-menu-list__btn:hover {
    color: #bb945f;
  }
}

.popups {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}
.popups--is-active {
  opacity: 1;
  visibility: visible;
}

.popup-login {
  height: 100%;
  overflow-y: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  display: none;
  pointer-events: none;
}
.popup-login--is-active {
  opacity: 1;
  visibility: visible;
  display: flex;
}
.popup-login__underform {
  margin-top: 10px;
}
.popup-login__wrapper {
  background: var(--primary-color-2);
  min-width: 250px;
  position: relative;
  padding: 20px 25px;
  box-sizing: border-box;
  max-height: 100%;
  pointer-events: all;
}
.popup-login__close {
  position: absolute;
  right: 0;
  top: 0;
}
.popup-login__title {
  margin-bottom: 20px;
}

.close-btn {
  padding: 15px;
  background-color: transparent;
  border: none;
  stroke: #000;
  cursor: pointer;
}
.close-btn--light {
  stroke: #fff;
  stroke-width: 2px;
}
.close-btn__icon {
  width: 15px;
  height: 15px;
}
@media (hover: hover) {
  .close-btn:hover {
    stroke: #bb945f;
  }
}

.popup-title {
  color: #000;
  text-align: center;
  font-family: Forum;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 100% */
  letter-spacing: 0.4px;
  text-transform: uppercase;
  text-align: center;
  display: block;
}

.popup-form__input {
  display: block;
}
.popup-form__input:not(:last-child) {
  margin-bottom: 10px;
}
.popup-form__input:last-of-type {
  margin-bottom: 20px;
}

.popup-input {
  display: flex;
  flex-direction: column;
}
.popup-input__text {
  color: #000;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 133.333% */
  letter-spacing: 0.3px;
  margin-bottom: 10px;
  display: block;
}
.popup-input__input {
  border: 1px solid #bb945f;
  min-height: 20px;
}
.popup-input__input--size-s {
  max-width: 45px;
}
.popup-input__wrapper {
  display: flex;
  gap: 10px;
}

.button {
  color: #0c0c0e;
  text-align: center;
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
  padding: 9px 20px;
  background-color: transparent;
  cursor: pointer;
}
@media (hover: hover) {
  .button:hover {
    background-color: #bb945f;
  }
}

.popup-underform__text {
  color: #000;
  text-shadow: 0px 2px 3px rgba(255, 255, 255, 0.16);
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.popup-underform__btn {
  color: #0c0c0e;
  text-align: center;
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
  text-decoration-line: underline;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: color 0.3s ease;
}
@media (hover: hover) {
  .popup-underform__btn:hover {
    color: #bb945f;
  }
}

.popup-buy {
  height: 100%;
  overflow-y: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  display: none;
}
.popup-buy--is-active {
  opacity: 1;
  visibility: visible;
  display: flex;
}
.popup-buy__wrapper {
  background: var(--primary-color-2);
  width: 650px;
  position: relative;
  box-sizing: border-box;
  max-height: 100%;
  pointer-events: all;
}
.popup-buy__header {
  background-color: #000;
  padding-top: 20px;
  padding-bottom: 20px;
  position: relative;
}
.popup-buy__title {
  color: #fff;
  text-align: center;
  font-family: Forum;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 50% */
  letter-spacing: 0.8px;
  text-transform: uppercase;
  display: block;
}
.popup-buy__close {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
}
.popup-buy__container {
  display: flex;
  justify-content: space-between;
  padding: 30px 40px 40px;
  background-color: #fff;
}
.popup-buy__description {
  max-width: 330px;
  color: #8e8e8e;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 133.333% */
  letter-spacing: 2px;
}

.popup-form__wrapper {
  display: flex;
  align-items: flex-end;
  gap: 25px;
}
.popup-form__number {
  color: #0c0c0e;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px; /* 100% */
  letter-spacing: 2px;
  text-transform: uppercase;
}

.popup-profile {
  height: 100%;
  overflow-y: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  display: none;
}
.popup-profile__close {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}
.popup-profile--is-active {
  opacity: 1;
  visibility: visible;
  display: flex;
}
.popup-profile__wrapper {
  background: var(--primary-color-2);
  position: relative;
  box-sizing: border-box;
  max-height: 100%;
  pointer-events: all;
}
.popup-profile__container {
  display: flex;
}
.popup-profile__rented {
  margin-bottom: 40px;
}
.popup-profile__list {
  margin-bottom: 20px;
}
.popup-profile__content {
  padding: 40px 20px;
}
.popup-profile__title {
  color: #000;
  font-family: Forum;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 50% */
  letter-spacing: 0.8px;
  text-transform: uppercase;
  margin-bottom: 40px;
  display: block;
}

.popup-profile-side {
  background-color: #000;
  padding: 0 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.popup-profile-side__icon {
  width: 80px;
  height: 80px;
  color: #bb945f;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 100% */
  text-transform: capitalize;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  margin-bottom: 20px;
}
.popup-profile-side__text {
  color: #000;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-transform: capitalize;
  padding: 5px 15px;
  background-color: #fff;
}

.statistic-list {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  display: flex;
  gap: 20px;
}
.statistic-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.statistic-card__title {
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 100% */
  letter-spacing: 0.4px;
  text-transform: capitalize;
}
.statistic-card__icon {
  fill: #bb945f;
  width: 20px;
  height: 20px;
}
.statistic-card__number {
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 200% */
  letter-spacing: 0.2px;
  text-transform: capitalize;
}

.statistic-rented__title {
  color: #0c0c0e;
  font-family: Inter;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 80% */
  margin-bottom: 30px;
}

.statistic-rented-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.statistic-rented-list__text {
  color: #000;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 100% */
  letter-spacing: 2px;
  text-transform: capitalize;
}

.statistic-footer__text {
  color: #0c0c0e;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 100% */
}
.statistic-footer__numer {
  color: #bb945f;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 100% */
}
.statistic-footer-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: transform 0.3s ease;
}
@media (hover: hover) {
  .statistic-footer-btn:hover {
    transform: scale(2);
  }
}
.statistic-footer-btn__icon {
  width: 13.31px;
  height: 12px;
}

@media (max-width: 1400px) {
  .favorites-cards-list {
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 1200px) {
  .shop__wrapper {
    flex-direction: column;
  }
  .shop__menu {
    width: fit-content;
  }
  .shop__menu.menu-block--mirrored {
    margin-left: auto;
  }
  .contacts__wrapper,
  .cards__wrapper {
    flex-direction: column;
  }
  .cards__example {
    order: 1;
  }
  .cards__registration {
    order: 2;
  }
  .card-registration {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .card-registration__text {
    text-align: center;
  }
  .nav-list {
    gap: 0.9375em;
  }
}
@media (max-width: 1024px) {
  :root {
    --number-of-slides: 1;
  }
  .nav-wrapper {
    position: fixed;
    width: 20.75em;
    height: 100vh;
    top: 0;
    right: 0;
    z-index: 100;
    overflow-y: auto;
    background-color: var(--primary-color-1);
    transform: translateX(100%);
    transition: transform 0.3s ease;
  }
  .nav-wrapper--is-active {
    transform: translateX(0);
  }
  .nav-list {
    padding-top: calc(var(--header-height) * 1px + 10px);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.875em;
  }
  .navigation__btn {
    display: flex;
    position: relative;
    z-index: 101;
  }
  .header__profile {
    order: 1;
    z-index: 101;
    position: relative;
    margin-right: 2.5em;
  }
  .header__navigation {
    order: 2;
    margin-right: 0;
  }
  .hero__block {
    max-width: 32.5em;
  }
  .about__title {
    margin-bottom: 0.5625em;
  }
  .about__container {
    padding-bottom: 2.25em;
  }
  .about-pagination-list__item:nth-child(4), .about-pagination-list__item:nth-child(5) {
    display: inline-block;
  }
  .about-content-list-arrows {
    display: flex;
    position: absolute;
    width: 100%;
    height: 90%;
    justify-content: space-between;
  }
  .about-content-list-arrows__arrow {
    position: absolute;
    left: 4.375em;
    right: auto;
    width: fit-content;
    top: 48%;
    background-color: transparent;
    border: none;
  }
  .about-content-list-arrows__arrow::before {
    content: "";
    border-left: 2px solid var(--primary-color-1);
    border-bottom: 2px solid var(--primary-color-1);
    display: inline-block;
    height: 0.5em;
    width: 0.5em;
    transform: rotate(45deg);
  }
  .about-content-list-arrows__arrow:disabled::before {
    opacity: 0.5;
  }
  .about-content-list-arrows__arrow--right {
    left: auto;
    right: 4.375em;
  }
  .about-content-list-arrows__arrow--right::before {
    transform: rotate(-135deg);
  }
  .about-content-block {
    position: relative;
  }
  .about-content-block__wrapper {
    max-width: 60%;
  }
  .about-content-block__list {
    margin-bottom: 0.875em;
  }
  .about-pagination-bullet {
    padding: 0.3125em;
  }
  .favorites-form__title {
    margin-bottom: 2.125em;
  }
  .favorites-form-input {
    align-items: center;
  }
  .favorites-form-input__custom {
    width: 0.875em;
    height: 0.875em;
  }
  .favorites-form-input__text {
    font-size: 1.25em;
    margin-left: 1.1em;
  }
  .favorites__form {
    margin-bottom: 2.375em;
  }
  .favorite-card__content {
    margin-top: 1.5em;
  }
  .favorite-card__book {
    margin-bottom: 0.625em;
  }
  .favorite-card__description {
    margin-top: 1.875em;
  }
  .favorite-card__btn {
    font-size: 0.5625em;
  }
  .favorite-card__wrapper {
    padding-right: 10.625em;
  }
  .favorites-cards-list__card {
    min-height: 34.6875em;
  }
  .shop__text {
    margin-top: 1.875em;
    margin-bottom: 2.125em;
  }
  .shop__menu:nth-child(1) {
    margin-bottom: 2.5em;
  }
  .menu-block--mirrored .menu-block-card__text:first-child::after {
    margin-left: 2.8125em;
    margin-right: 2.8125em;
  }
  .contacts-block:nth-child(2) .contacts-block__title {
    margin-bottom: 0.875em;
  }
  .contacts-text-block__block:nth-child(2) {
    margin-bottom: 6.25em;
  }
  .contacts__map {
    margin-left: 0.9375em;
    margin-right: 0.9375em;
  }
  .card-example {
    width: 100%;
    max-width: 37.5em;
    box-sizing: border-box;
  }
  .card-example__title {
    font-size: 1.625em;
    margin-bottom: 0.9230769231em;
  }
  .card-example__wrapper {
    min-width: initial;
    width: 100%;
    box-sizing: border-box;
  }
  .card-example {
    padding-bottom: 1.5em;
  }
  .card-example__input {
    font-weight: 400;
    font-size: 1.75em;
    font-family: Forum;
    border: none;
    padding-left: 0.7142857143em;
    padding-top: 0.4285714286em;
    padding-bottom: 0.4285714286em;
  }
  .card-example__input::placeholder {
    font-weight: 400;
  }
  .card-registration__title {
    margin-top: 0.875em;
    margin-bottom: 1.25em;
  }
  .card-registration__text {
    margin-top: 0;
    max-width: 27.5em;
    margin-bottom: 2em;
  }
  .card-registration__btn {
    padding-top: 0.4375em;
    padding-bottom: 0.4375em;
    min-width: 5.625em;
  }
  .card-registration-list__item {
    margin-right: 0.375em;
  }
  .footer-head {
    padding-bottom: 1.25em;
  }
  .footer-body {
    padding-top: 2.75em;
  }
  .favorites-form-list {
    gap: initial;
    justify-content: space-between;
    max-width: 43.75em;
  }
}
@media (max-width: 768px) {
  .about-content-list-arrows__arrow {
    left: 1.875em;
    right: auto;
  }
  .about-content-list-arrows__arrow--right {
    left: auto;
    right: 1.875em;
  }
}